scdr/CDR.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- callcase contains a one or more <CDR> elements and a @name -->
  <xs:element name="callcase">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="CDR" type="XMLCDRType"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <!-- the <CDR> element -->
  <xs:complexType name="XMLCDRType">
    <xs:sequence>
      <xs:element name="layer" type="XMLLayerType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="callpartid" type="NonEmptyString-Type" use="required"/>
  </xs:complexType>

  <xs:complexType name="XMLLayerType">
    <xs:sequence>
      <xs:element name="mMTelServiceRecord" type="MMTelServiceRecord" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MMTelServiceRecord">
    <xs:sequence>
      <xs:element name="mMTelRecord" type="MMTelRecord" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MMTelRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="recordType" type="recordType-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="role-of-Node">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="0">
              <xs:annotation>
                <xs:documentation>originating</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>terminating</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="session-Id" type="ToBeFilledString-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="list-Of-Calling-Party-Address">
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="involvedParty" type="InvolvedParty-Type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="called-Party-Address">
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="involvedParty" type="InvolvedParty-Type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="serviceRequestTimeStamp" type="TimeStamp"/>
      <xs:element minOccurs="0" maxOccurs="1" name="serviceDeliveryStartTimeStamp" type="TimeStamp"/>
      <xs:element minOccurs="0" maxOccurs="1" name="serviceDeliveryEndTimeStamp" type="TimeStamp"/>
      <xs:element minOccurs="0" maxOccurs="1" name="interOperatorIdentifiers">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="value">
              <xs:complexType>
                <xs:sequence minOccurs="1" maxOccurs="1">
                  <xs:element minOccurs="0" maxOccurs="1" name="originatingIOI" type="NonEmptyString-Type"/>
                  <xs:element minOccurs="0" maxOccurs="1" name="terminatingIOI" type="NonEmptyString-Type"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="causeForRecordClosing">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="0">
              <xs:annotation>
                <xs:documentation>serviceDeliveryEndSuccessfully</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>unSuccessfulServiceDelivery</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
              <xs:annotation>
                <xs:documentation>timeLimit</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
              <xs:annotation>
                <xs:documentation>serviceChange</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
              <xs:annotation>
                <xs:documentation>managementIntervention</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
<!-- present in Falcon, omitted in Synthetic CDRs
      <xs:element name="incomplete-CDR-Indication">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
-->
      <xs:element minOccurs="1" maxOccurs="1" name="iMS-Charging-Identifier" type="ToBeFilledString-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="list-Of-SDP-Media-Components" type="list-Of-SDP-Media-Components-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="serviceReasonReturnCode" type="xs:integer"/>
      <xs:element minOccurs="0" maxOccurs="1" name="recordExtensions" type="recordExtensions-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Access-Network-Information" type="NonEmptyString-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="serviceContextID">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]+.)?[0-9]+@3gpp.org"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="list-of-subscription-ID">
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="subscriptionID" type="SubscriptionID-Type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="iMSCommunicationServiceIdentifier" type="NonEmptyString-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="numberPortabilityRouting" type="NonEmptyString-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="serviceRequestTimeStampFraction" type="MilliSecondsType"/>
      <xs:element minOccurs="0" maxOccurs="1" name="serviceDeliveryStartTimeStampFraction" type="MilliSecondsType"/>
      <xs:element minOccurs="0" maxOccurs="1" name="serviceDeliveryEndTimeStampFraction" type="MilliSecondsType"/>
      <xs:element minOccurs="0" maxOccurs="1" name="transit-IOI-List" type="NonEmptyString-Type"/>
      <!--
      <xs:element name="userLocationInformation">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LCS-Client-ID" type="xs:string"/>
            <xs:element name="Location-Type" type="xs:string"/>
            <xs:element name="Location-Estimate" type="xs:string"/>
            <xs:element name="Positioning-Data" type="xs:string"/>
            <xs:element name="IMSI" type="xs:string"/>
            <xs:element name="MSISDN" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      -->
<!-- present in Falcon, omitted in Synthetic CDRs
      <xs:element name="mSTimeZone" type="xs:string"/>
-->
       <!-- check -->
      <xs:element minOccurs="0" maxOccurs="1" name="serviceSpecificInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value" minOccurs="1" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence minOccurs="1" maxOccurs="1">
                  <xs:element minOccurs="1" maxOccurs="1" name="serviceSpecificData" type="HexString-Type"/>
                  <xs:element minOccurs="1" maxOccurs="1" name="serviceSpecificType" type="xs:integer"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="requested-Party-Address">
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="involvedParty" type="InvolvedParty-Type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="list-Of-Called-Asserted-Identity">
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="involvedParty" type="InvolvedParty-Type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="mMTelInformation" type="mMTelInformation-Type"/>
    </xs:sequence>
  </xs:complexType>



  <xs:complexType name="list-Of-SDP-Media-Components-Type">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="media-Components-List" type="media-Components-List-Type"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="media-Components-List-Type">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element minOccurs="1" maxOccurs="1" name="sIP-Request-Timestamp" type="TimeStamp"/>
      <xs:element minOccurs="1" maxOccurs="1" name="sIP-Response-Timestamp" type="TimeStamp"/>
      <xs:element minOccurs="0" maxOccurs="1" name="sDP-Media-Components" type="SDP-Media-Components-Type"/>
<!-- present in Falcon, omitted in Synthetic CDRs
      <xs:element name="mediaInitiatorFlag">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="0">
              <xs:annotation>
                <xs:documentation>called party has requested the session modification</xs:documentation>
              </xs:annotation>
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>calling party has requested the session modification</xs:documentation>
              </xs:annotation>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation>unknown participiant has requested the session modification</xs:documentation>
              </xs:annotation>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
-->
      <xs:element minOccurs="0" maxOccurs="1" name="sDP-Session-Description">
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="value" type="NonEmptyString-Type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="sIP-Request-Timestamp-Fraction" type="MilliSecondsType"/>
      <xs:element minOccurs="0" maxOccurs="1" name="sIP-Response-Timestamp-Fraction" type="MilliSecondsType"/>
      <xs:element name="sDP-Type">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="0">
              <xs:annotation>
                <xs:documentation>SDP Offer</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>SDP Answer</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SDP-Media-Components-Type">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="sDP-Media-Component">
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="1" maxOccurs="1" name="sDP-Media-Name" type="NonEmptyString-Type"/>
            <xs:element minOccurs="0" maxOccurs="1" name="sDP-Media-Descriptions">
              <xs:complexType>
                <xs:sequence minOccurs="1" maxOccurs="unbounded">
                  <xs:element name="value" type="NonEmptyString-Type"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="recordExtensions-Type">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element minOccurs="0" maxOccurs="1" name="bW-service-provider" type="NonEmptyString-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="bW-user-Number" type="NonEmptyString-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="bW-dialed-Digits" type="NonEmptyString-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="bW-call-Category" type="NonEmptyString-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="bW-network-Translated-Number" type="NonEmptyString-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="bW-codec" type="NonEmptyString-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="bW-access-Callid" type="ToBeFilledString-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="bW-group" type="NonEmptyString-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="bW-original-Called-Number" type="NonEmptyString-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="bW-redirecting-Number" type="NonEmptyString-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="bW-userId" type="NonEmptyString-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="bW-other-Party-Name" type="NonEmptyString-Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="eMM-on-net-flag" type="xs:integer"/>
      <xs:element minOccurs="0" maxOccurs="1" name="eMM-on-platform-flag" type="xs:integer"/>
      <xs:element minOccurs="0" maxOccurs="1" name="eMM-faxmail-flag" type="xs:integer"/>
      <xs:element minOccurs="0" maxOccurs="1" name="eMM-voicemail-flag" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mMTelInformation-Type">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="listOfSupplServices" type="listOfSupplServices-Type"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listOfSupplServices-Type">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="SupplService" type="SupplService-Type"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SupplService-Type">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element name="serviceType">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="0">
              <xs:annotation>
                <xs:documentation>Originating Identification Presentation (OIP)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>Originating Identification Restriction (OIR)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation>Terminating Identification Presentation (TIP)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
              <xs:annotation>
                <xs:documentation>Terminating Identification Restriction (TIR)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
              <xs:annotation>
                <xs:documentation>Communication HOLD (HOLD)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
              <xs:annotation>
                <xs:documentation>Communications Barring (CB)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
              <xs:annotation>
                <xs:documentation>Communication Diversion (CDIV)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="7">
              <xs:annotation>
                <xs:documentation>Communication Diversion Notification (CDIVN)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="8">
              <xs:annotation>
                <xs:documentation>Communication Waiting (CW)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9">
              <xs:annotation>
                <xs:documentation>Message Waiting Indication (MWI)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="10">
              <xs:annotation>
                <xs:documentation>Conference (CONF)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="11">
              <xs:annotation>
                <xs:documentation>Flexible Alerting (FA)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="12">
              <xs:annotation>
                <xs:documentation>Completion of Communication to Busy Subscriber (CCBS)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="13">
              <xs:annotation>
                <xs:documentation>Completion of Communications on No Reply (CCNR)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="14">
              <xs:annotation>
                <xs:documentation>Malicious Communication Identification (MCID)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="15">
              <xs:annotation>
                <xs:documentation>Customized Alerting Tone (CAT)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="16">
              <xs:annotation>
                <xs:documentation>Closed User Group (CUG)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="17">
              <xs:annotation>
                <xs:documentation>Personal Network management</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="18">
              <xs:annotation>
                <xs:documentation>Customized Ringing Signal</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="19">
              <xs:annotation>
                <xs:documentation>Advice of Charge (AoC)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="serviceMode">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="0">
              <xs:annotation>
                <xs:documentation>Communication Forwarding Unconditional (CFU)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>Communication Forwarding Busy (CFB)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation>Communication Forwarding No Reply (CRNR)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
              <xs:annotation>
                <xs:documentation>Communication Forwarding on Not Logged-In (CFNL)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
              <xs:annotation>
                <xs:documentation>Communication Deflection (CD)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
              <xs:annotation>
                <xs:documentation>Communication Forwarding on Subscriber Not Reachable (CFNRc)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
              <xs:annotation>
                <xs:documentation>Incoming Call Barring (ICB)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="7">
              <xs:annotation>
                <xs:documentation>Outgoing Call Barring (OCB)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="8">
              <xs:annotation>
                <xs:documentation>Anonymous Communication Rejection (ACR)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9">
              <xs:annotation>
                <xs:documentation>Blind Transfer</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="10">
              <xs:annotation>
                <xs:documentation>Consultative Transfer</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="11">
              <xs:annotation>
                <xs:documentation>Three-Party (3PTY)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="12">
              <xs:annotation>
                <xs:documentation>Advice of Charge -S (AoC-S)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="13">
              <xs:annotation>
                <xs:documentation>Advice of Charge -D (AoC-D)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="14">
              <xs:annotation>
                <xs:documentation>Advice of Charge -E (AoC-E)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="26221">
              <xs:annotation>
                <xs:documentation>Communication Diversion Fixed To Mobile</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="associated-Party-Address">
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="involvedParty" type="InvolvedParty-Type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- present in Falcon, omitted in Synthetic CDRs
      <xs:element name="serviceId" type="xs:string"/>
-->
<!-- present in Falcon, omitted in Synthetic CDRs
      <xs:element name="changeTime" type="TimeStamp"/>
-->
<!-- present in Falcon, omitted in Synthetic CDRs
      <xs:element name="participantActionType">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="0">
              <xs:annotation>
                <xs:documentation>CREATE_CONF</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>JOIN_CONF</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation>INVITE_INTO_CONF</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
              <xs:annotation>
                <xs:documentation>QUIT_CONF</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
-->
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="recordType-Type">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="83"/>
      <xs:enumeration value="70"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TimeStamp">
    <xs:restriction base="xs:string">
      <!-- YYMMDDhhmmssShhmm where S is a sign (+/-) -->
      <xs:pattern value="[0-9]{12}[+-][0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>

<!-- IMSChargingDataTypes -->
  <xs:complexType name="InvolvedParty-Type">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element name="sip">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(sip:[^@]*@.*|unknown)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tel">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="tel:\+?[0-9]*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="urn" type="xs:string"/>
      <xs:element name="e164" type="xs:string"/>
    </xs:choice>
  </xs:complexType>

<!-- GenericChargingDataTypes -->
  <xs:complexType name="SubscriptionID-Type">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element name="subscriptionIDType">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="0">
              <xs:annotation>
                <xs:documentation>END_USER_E164</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>END_USER_IMSI</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation>END_USER_SIP_URI</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
              <xs:annotation>
                <xs:documentation>END_USER_NAI</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
              <xs:annotation>
                <xs:documentation>END_USER_PRIVATE</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="subscriptionIDData" type="NonEmptyString-Type"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="MilliSecondsType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="999"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ToBeFilledString-Type">
    <xs:restriction base="xs:string">
      <xs:pattern value="to-be-filled"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NonEmptyString-Type">
    <xs:restriction base="xs:string">
      <xs:pattern value="..*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="HexString-Type">
    <xs:restriction base="xs:string">
      <xs:pattern value="0x[0-9A-F]*"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
